@font-face{
font-family:'ico5';
font-weight:normal;
font-style:normal;
src:url('ico5.eot?te473n');
src:url('ico5.eot?#iefixte473n') format('embedded-opentype'),url('ico5.woff?te473n') format('woff'),url('ico5.ttf?te473n') format('truetype'),url('ico5.svg?te473n#ico5') format('svg');
}
@font-face{
font-family:'IcoMoon';
font-weight:normal;
font-style:normal;
src:url(IcoMoon.eot);
src:url(IcoMoon.eot?#iefix) format("embedded-opentype"),url(IcoMoon.woff) format("woff"),url(IcoMoon.ttf) format("truetype"),url(IcoMoon.svg#IcoMoon) format("svg");
}

[class^="icon-"]:before,[class*=" icon-"]:before{font-family:'IcoMoon'; font-style:normal; margin: 0 0.3em 0 0; display:inline; }
[class^="ico5-"]:before,[class*=" ico5-"]:before{font-family:'ico5'; font-style:normal; margin: 0 0.3em 0 0; display:inline; }
.icodent{padding: 0 0 0 1.5em;}
.icodent:before{text-indent: -1.5em;display:inline-block;}

.icon-home:before{content:"\0021"}
.icon-user:before{content:"\0022"}
.icon-checkedout:before{content:"\0023"}
.icon-lock:before{content:"\0023"}
.icon-locked:before{content:"\0023"}
.icon-comment:before{content:"\0024"}
.icon-comments:before{content:"\0024"}
.icon-comments-2:before{content:"\0025"}
.icon-out:before{content:"\0026"}
.icon-share-alt:before{content:"\0026"}
.icon-redo:before{content:"\0027"}
.icon-share:before{content:"\0027"}
.icon-undo:before{content:"\0028"}
.icon-file-add:before{content:"\0029"}
.icon-new:before{content:"\002a"}
.icon-plus:before{content:"\002a"}
.icon-apply:before{content:"\002b"}
.icon-edit:before{content:"\002b"}
.icon-pencil:before{content:"\002b"}
.icon-pencil-2:before{content:"\002c"}
.icon-folder:before{content:"\002d"}
.icon-folder-open:before{content:"\002d"}
.icon-folder-2:before{content:"\002e"}
.icon-folder-close:before{content:"\002e"}
.icon-picture:before{content:"\002f"}
.icon-pictures:before{content:"\0030"}
.icon-list:before{content:"\0031"}
.icon-list-view:before{content:"\0031"}
.icon-power-cord:before{content:"\0032"}
.icon-cube:before{content:"\0033"}
.icon-puzzle:before{content:"\0034"}
.icon-flag:before{content:"\0035"}
.icon-tools:before{content:"\0036"}
.icon-cogs:before{content:"\0037"}
.icon-cog:before{content:"\0038"}
.icon-options:before{content:"\0038"}
.icon-equalizer:before{content:"\0039"}
.icon-wrench:before{content:"\003a"}
.icon-brush:before{content:"\003b"}
.icon-eye:before{content:"\003c"}
.icon-eye-open:before{content:"\003c"}
.icon-checkbox-unchecked:before{content:"\003d"}
.icon-checkbox:before{content:"\003e"}
.icon-checkin:before{content:"\003e"}
.icon-checkbox-partial:before{content:"\003f"}
.icon-asterisk:before{content:"\0040"}
.icon-star-empty:before{content:"\0040"}
.icon-star-2:before{content:"\0041"}
.icon-featured:before{content:"\0042"}
.icon-star:before{content:"\0042"}
.icon-calendar:before{content:"\0043"}
.icon-calendar-2:before{content:"\0044"}
.icon-help:before{content:"\0045"}
.icon-question-sign:before{content:"\0045"}
.icon-support:before{content:"\0046"}
.icon-ok:before{content:"\0047"}
.icon-publish:before{content:"\0047"}
.icon-save:before{content:"\0047"}
.icon-pending:before{content:"\0048"}
.icon-warning:before{content:"\0048"}
.icon-cancel-2:before{content:"\0049"}
.icon-delete:before{content:"\0049"}
.icon-remove:before{content:"\0049"}
.icon-cancel:before{content:"\004a"}
.icon-unpublish:before{content:"\004a"}
.icon-eye-close:before{content:"\004b"}
.icon-minus:before{content:"\004b"}
.icon-purge:before{content:"\004c"}
.icon-trash:before{content:"\004c"}
.icon-envelope:before{content:"\004d"}
.icon-mail:before{content:"\004d"}
.icon-mail-2:before{content:"\004e"}
.icon-drawer:before{content:"\004f"}
.icon-unarchive:before{content:"\004f"}
.icon-archive:before{content:"\0050"}
.icon-drawer-2:before{content:"\0050"}
.icon-box-add:before{content:"\0051"}
.icon-box-remove:before{content:"\0052"}
.icon-search:before{content:"\0053"}
.icon-filter:before{content:"\0054"}
.icon-camera:before{content:"\0055"}
.icon-play:before{content:"\0056"}
.icon-music:before{content:"\0057"}
.icon-grid-view:before{content:"\0058"}
.icon-grid-view-2:before{content:"\0059"}
.icon-menu:before{content:"\005a"}
.icon-thumbs-up:before{content:"\005b"}
.icon-thumbs-down:before{content:"\005c"}
.icon-plus-2:before{content:"\005d"}
.icon-save-new:before{content:"\005d"}
.icon-ban-circle:before{content:"\005e"}
.icon-minus-2:before{content:"\005e"}
.icon-minus-sign:before{content:"\005e"}
.icon-key:before{content:"\005f"}
.icon-quote:before{content:"\0060"}
.icon-quote-2:before{content:"\0061"}
.icon-database:before{content:"\0062"}
.icon-location:before{content:"\0063"}
.icon-zoom-in:before{content:"\0064"}
.icon-zoom-out:before{content:"\0065"}
.icon-expand:before{content:"\0066"}
.icon-contract:before{content:"\0067"}
.icon-expand-2:before{content:"\0068"}
.icon-contract-2:before{content:"\0069"}
.icon-health:before{content:"\006a"}
.icon-wand:before{content:"\006b"}
.icon-refresh:before{content:"\006c"}
.icon-unblock:before{content:"\006c"}
.icon-vcard:before{content:"\006d"}
.icon-clock:before{content:"\006e"}
.icon-compass:before{content:"\006f"}
.icon-address:before{content:"\0070"}
.icon-feed:before{content:"\0071"}
.icon-flag-2:before{content:"\0072"}
.icon-pin:before{content:"\0073"}
.icon-lamp:before{content:"\0074"}
.icon-chart:before{content:"\0075"}
.icon-bars:before{content:"\0076"}
.icon-pie:before{content:"\0077"}
.icon-dashboard:before{content:"\0078"}
.icon-lightning:before{content:"\0079"}
.icon-move:before{content:"\007a"}
.icon-next:before{content:"\007b"}
.icon-previous:before{content:"\007c"}
.icon-first:before{content:"\007d"}
.icon-last:before{content:"\e000"}
.icon-loop:before{content:"\e001"}
.icon-shuffle:before{content:"\e002"}
.icon-arrow-first:before{content:"\e003"}
.icon-arrow-last:before{content:"\e004"}
.icon-arrow-up:before{content:"\e005"}
.icon-chevron-up:before{content:"\e005"}
.icon-uparrow:before{content:"\e005"}
.icon-arrow-right:before{content:"\e006"}
.icon-chevron-right:before{content:"\e006"}
.icon-arrow-down:before{content:"\e007"}
.icon-chevron-down:before{content:"\e007"}
.icon-downarrow:before{content:"\e007"}
.icon-arrow-left:before{content:"\e008"}
.icon-chevron-left:before{content:"\e008"}
.icon-arrow-up-2:before{content:"\e009"}
.icon-arrow-right-2:before{content:"\e00a"}
.icon-arrow-down-2:before{content:"\e00b"}
.icon-download:before{content:"\e00b"}
.icon-arrow-left-2:before{content:"\e00c"}
.icon-play-2:before{content:"\e00d"}
.icon-menu-2:before{content:"\e00e"}
.icon-arrow-up-3:before{content:"\e00f"}
.icon-arrow-right-3:before{content:"\e010"}
.icon-arrow-down-3:before{content:"\e011"}
.icon-arrow-left-3:before{content:"\e012"}
.icon-print:before{content:"\e013"}
.icon-printer:before{content:"\e013"}
.icon-color-palette:before{content:"\e014"}
.icon-camera-2:before{content:"\e015"}
.icon-file:before{content:"\e016"}
.icon-file-remove:before{content:"\e017"}
.icon-copy:before{content:"\e018"}
.icon-save-copy:before{content:"\e018"}
.icon-cart:before{content:"\e019"}
.icon-basket:before{content:"\e01a"}
.icon-broadcast:before{content:"\e01b"}
.icon-screen:before{content:"\e01c"}
.icon-tablet:before{content:"\e01d"}
.icon-mobile:before{content:"\e01e"}
.icon-users:before{content:"\e01f"}
.icon-briefcase:before{content:"\e020"}
.icon-download:before{content:"\e021"}
.icon-upload:before{content:"\e022"}
.icon-bookmark:before{content:"\e023"}
.icon-out-2:before{content:"\e024"}	

.ico5-article:before{content:"\e100";}
.ico5-menu:before{content:"\e101";}
.ico5-top:before{content:"\e102";}
.ico5-bottom:before{content:"\e103";}
.ico5-right:before{content:"\e603";}
.ico5-left:before{content:"\e604";}
.ico5-phone0:before{content:"\e0e6";}
.ico5-phone1:before{content:"\e0dc";}
